<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Donate</title>
        <meta charset="utf-8"/>
        <link rel="icon" href="img/icons/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
	<header>
        <nav>
            <h1 class="logo">Tor Jacob</h1>
            <ul class="navbar">
                <li>
                    <a href="searx.torjacob.no">
                        Searx
                    </a>
                </li>
                <li class="dropdown"><a href="/repos">Repos</a>
                    <ul>
                        <li>
                            <a href="git.torjacob.no">
                                Git
                            </a>
                        </li>
                        <li>
                            <a href="gitlab.stud.idi.ntnu.no/torjne">
                                Gitlab-NTNU
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/torjacob">
                                Github
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#">Projects</a>
                    <ul>
                        <li>
                            <a href="webtek.torjacob.no">
                                Webtek
                            </a>
                        </li>
                        <li>
                            <a href="multiplayer.poker">
                                Poker
                            </a>
                        </li>
                        <li>
                            <a href="lommemonster.no">
                                Lommemonster
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="/donate/">Donate</a>
                <ul>
                    <li>
                        <a href="/donate/#cryptocurrencies">
                            Crypto
                        </a>
                    </li>
                    <li>
                        <a href="/donate/#paypal">
                            Paypal
                        </a>
                    </li>
                    <li>
                        <a href="/donate/#coffee">
                            Buy me a Coffee
                        </a>
                    </li>
                </ul>
            </li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    </body>
</html>
