<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Donate</title>
        <meta charset="utf-8"/>
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
	<header>
        <nav>
            <h1 class="logo">Tor Jacob</h1>
            <ul class="navbar">
                <li><a href="https://searx.torjacob.no">Searx</a></li>
                <li><a href="https://git.torjacob.no">Git</a></li>
                <li class="dropdown"><a href="#">Projects</a>
                    <ul>
                        <li>
                            <a href="https://webtek.torjacob.no">
                                Webtek
                            </a>
                        </li>
                        <li>
                            <a href="https://multiplayer.poker">
                                Poker
                            </a>
                        </li>
                        <li>
                            <a href="https://lommemonster.no">
                                Lommemonster
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"><a href="/donate/">Donate</a>
                <ul>
                    <li><a href="/donate/#Cryptocurrencies">Crypto</a></li>
                    <li><a href="#">Paypal</a></li>
                    <li><a href="#">Buy me a Coffee</a></li>
                </ul>
            </li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    </body>
</html>
